.title-1{
    text-align: center;
    background-color: black;
    color: white;
}
.b-1{
    background-color: green;
    color: white;
    font-size: x-large;
}
.b-2{
    background-color: green;
    color: white;
    font-size: x-large;
}
.b-3{
    background-color: green;
    color: white;
    font-size: x-large;
}
.b-4{
    background-color: black;
    color: white;
    font-size: x-large;
}
.b-5{
    background-color: green;
    color: white;
    font-size: x-large; 
}