*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.cart{
    width: 405px;
    display: inline-block;
    margin-left: 0px;
}
.margin{
    margin-left: 50%;
    font: size 100px;
}
.shop{
    display: inline-block;
    width: 290px;
}
.all{
    display: inline-block;
    margin-left: 0px;
}
